.payment {
  width: 100%;
}
.payment h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.payment h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.payment .promoCode {
  width: 100%;
}
.payment .promoCode h4 {
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}
.payment .promoInput {
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
}
.payment .showBox {
  height: 35px;
  visibility: visible;
  opacity: 1;
}
.payment .promoInput input {
  padding: 5px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  background-color: white;
}
.payment .promoInput input:focus {
  outline: none;
}
.payment .promoInput button {
  width: 35px;
  height: 35px;
  /* font-size: 1rem; */
  font-weight: 700;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(231, 231, 231);
}
.payment .dropIcon {
  width: 15px;
  margin-left: 10px;
}
.payment .paymentMethodContent {
  width: 90%;
  border-top: 1px solid rgb(218, 218, 218);
}

.paymentMethodContent .payButton {
  width: 100%;
}
.payButton button {
  height: 45px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 2px 7px;
  border: 1px solid rgb(206, 206, 206);
}

.payButton button:hover {
  background-color: rgb(70, 70, 70);
}
.inputGroup {
  width: 90%;
  height: 35px;
}
.inputGroup input {
  display: none;
}
.inputGroup label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(51, 51, 51);
  /* width: 100%; */
}
.inputGroup input:not(:checked):hover + label:after {
  content: "";
  display: block;
  position: relative;
  right: calc(100% - 26px);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(165, 165, 165, 0.164);
}
.inputGroup label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
  margin-right: 10px;
}

.inputGroup input:checked + label {
  color: black;
  font-weight: 500;
}
.inputGroup input:checked + label:after {
  content: "";
  display: block;
  position: relative;
  right: calc(100% - 14px);
  width: 10px;
  height: 10px;
  border-radius: 4px;
  background-color: black;
}
@media screen and (max-width: 576px) {
  .payment .paymentMethodContent {
    width: 100%;
    /* display: grid;
      grid-template-columns: 1fr 1fr 1fr; */
  }
  .payment .promoCode {
    width: 100%;
  }
  .payButton button {
    width: 100%;
    height: 45px;
  }
}
