.paymentForm label h4 {
  font-size: var(--font-small);
}
.paymentForm label h6 {
  font-size: var(--font-tiny);
  color: var(--color-text-secondary);
}

.paymentForm .inputGroup {
  /* width: 100%; */
  height: 45px;
  padding: 5px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: white;
}
.paymentForm .expiryDate:first-child {
  margin-bottom: 0px;
  margin-right: 10px;
}
.paymentForm .expiryDate:last-child {
  margin-bottom: 0px;
  margin-left: 10px;
}
.paymentForm .inputGroup input {
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.paymentForm .inputGroup input:focus {
  outline: none;
}

.formButton {
  width: 100%;
}
.formButton button {
  height: 35px;
  background-color: var(--color-black);
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid rgb(206, 206, 206);
}

.formButton button:hover {
  background-color: rgb(53, 53, 53);
}
.formButton button:disabled,
.formButton button:disabled:hover {
  background-color: gray;
  /* color: white; */
}
.paymentForm .inputGroup .checkIcon {
  width: 20px;
  color: rgb(32, 136, 32);
  animation: appear ease 500ms;
}
.paymentForm .inputGroup .unCheckIcon {
  width: 20px;
  color: rgb(221, 0, 11);
  animation: appear ease 500ms;
}
.paymentForm .notValid {
  border-color: rgb(221, 0, 11);
}
@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .formButton button {
    width: 100%;
    height: 40px;
  }
}
