.stepper {
  width: 100%;
  border-radius: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.stepperItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33.33%;
  padding: 0;
}
/* .stepperItem:first-child {
  align-items: flex-start;
}
.stepperItem:last-child {
  align-items: flex-start;
} */
.stepperItem .stepperTitle {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: rgb(146, 146, 146);
  color: white;
  font-size: var(--font-tiny);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.4s;
  z-index: 4;
}
.stepperItem .stepperDesc {
  height: 26px;
  margin: 0;
  padding: 0;
  font-size: var(--font-tiny);
  color: var(--color-text-secondary);
}

.stepperItem::before {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - 13px);
  right: calc(50% + 14px);
  width: calc(100% - 28px);
  height: 2px;
  background-color: rgb(219, 219, 219);
  z-index: 2;
}

.stepperItem:first-child::before {
  content: none;
}

.active .stepperDesc {
  color: black;
  font-weight: 500;
}
.active .stepperTitle {
  background-color: black;
  transform: scale(1.1);
}

.active::before {
  content: " ";
  position: absolute;
  top: calc(50% - 13px);
  right: calc(50% + 14px);
  width: calc(100% - 28px);
  height: 2px;
  background-color: black;
  z-index: 3;
}
.active:first-child::before {
  content: none;
}
