.items {
  width: 65%;
  margin-right: 20px;
}
.items h1 {
  font-size: var(--font-large);
}
.summary {
  width: 35%;
}
.summary h1 {
  font-size: var(--font-medium);
}
.checkoutButton {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: var(--color-black);
  font-size: var(--font-medium);
  color: white;
}
.checkoutButton:hover {
  background-color: rgb(53, 53, 53);
}
.checkoutButton:disabled {
  background-color: rgb(80, 80, 80);
}
@media screen and (max-width: 576px) {
  .items {
    width: 100%;
    margin-right: 0;
  }
  .items h1 {
    text-align: center;
  }
  .summary {
    width: 100%;
  }
  .checkoutButton {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0;
  }
}
