.totalPrice {
  width: 100%;
}
.totalPrice div {
  width: 100%;
  margin: 20px 0px;
}

.totalPrice div h4 {
  font-size: var(--font-small);
  margin: 0;
}
.totalPrice .total {
  padding: 20px 0px;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}
.totalPrice .total h4 {
  font-size: var(--font-tiny);
  font-weight: 700;
}
