.producOption {
  width: 25%;
  /* height: clamp(100%,100%,100%); */
  height: 100%;
  border-left: 1px solid gray;
  padding-left: 16px;
  overflow: hidden auto;
  position: relative;
}
.producOption .sizeTitle h4 {
  font-size: 1rem;
  margin: 0;
}
.producOption .sizeTitle h5 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: bold;
  color: #a3a3a3;
}

.producOption .colorTitle h4 {
  font-size: 1rem;
  margin: 0;
}

.producOption .optionButton .checkout {
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
.producOption .optionButton .checkout:hover {
  background-color: rgba(0, 0, 0, 0.836);
}
.producOption .optionButton .like {
  width: 35px;
  height: 35px;
  border: 1px solid #f1f1ef;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-align: center;
}
.producOption .optionButton .like:hover {
  border: 1px solid #d8d8d8;
  color: red;
}

@media screen and (max-width: 576px) {
  .producOption {
    width: 100%;
    height: auto;
    min-height: 300px;
    border: none;
    padding: 0;
    position: relative;
    /* overflow: hidden; */
  }
  .producOption .optionButton {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: -8px;
    padding: 5px 50px;
  }
}
