.boxWraper {
  width: 100%;
  border-radius: 3px;
  background-color: #f1f1ef;
}
.boxWraper h4 {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
  user-select: none;
}
.boxWraper h4 .dropIcon {
  width: 15px;
}
.boxWraper .list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.boxWraper .list li {
  position: relative;
  height: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}
.boxWraper .list li .colorShowBox {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.boxWraper .list label {
  width: 100%;
  cursor: pointer;
}

.boxWraper .showList li {
  visibility: visible;
  opacity: 1;
}
.enter {
  max-height: 0;
  transition: max-height ease-out 0.4s;
}
.enterActive {
  max-height: 1000px;
  transition: max-height ease-in 0.4s;
}
.exit {
  max-height: 1000px;
  transition: max-height ease-in 0.5s;
}
.exitActive {
  max-height: 0;
  transition: max-height ease-out 0.5s;
}
