.logo {
  border: 1.5px solid rgb(32, 32, 32);
  padding: 0px 5px;
  border-radius: 5px;
  background-color: #ffffff00;
}
.logo h4 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.logo h5 {
  font-size: 10px;
  text-align: center;
  margin: 0;
}
.logo a,
.logo a:hover {
  text-decoration: none;
  color: black;
}

.toggleIcon {
  width: 30px;
  border: none;
  /* color: red; */
}
.shop {
  /* width: 120px; */
  color: #080b13;
  position: relative;
}
.shop .cartIcon,
.shop .favIcon {
  position: relative;
  margin: 0 10px;
}
.shop .cartIcon .badge,
.shop .favIcon .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear ease 0.5s;
  width: 17px;
  height: 17px;
  background-color: rgb(255, 68, 68);
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  position: absolute;

  top: -3px;
  right: -5px;
}
.shop .navIcon {
  width: 22px;
  color: #080b13;
  cursor: pointer;
}
.shop .profile {
  border-left: 1px solid var(--color-border);
  padding-left: 7px;
  position: relative;
  display: flex;
  width: 60px;
}
.profile .loginButton {
  outline: none;
  padding: 2px 5px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: #080b13;
  background-color: rgba(255, 0, 0, 0);
}
.navItem {
  padding: 0px 15px;
  position: relative;
}

.navItem .dropIcon {
  width: 10px;
  margin-left: 7px;
}
.navItem:hover .navDropDown {
  opacity: 1;
  visibility: visible;
  transform: perspective(1200px) rotateX(0deg);
}
.navItem .navDropDown {
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 15px 80px rgb(56 93 165 / 10%), 0 15px 60px rgb(0 0 0 / 5%);
  padding: 0;
  list-style: none;
  background-color: white;
  /* background-color: #eff2f5; */
  position: absolute;
  top: 40px;
  transform: perspective(1200px) rotateX(-30deg);
  opacity: 0;
  visibility: hidden;
  transition: visibility ease 350ms, opacity ease 350ms, transform ease 250ms;
}

.navItem .navDropDown li {
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.navItem .navDropDown li:hover {
  background-color: rgba(179, 179, 179, 0.288);
}
.navItem .navDropDown2 {
  width: 100%;
  list-style: none;
  background-color: rgba(236, 236, 236, 0.411);
  visibility: hidden;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s, height 0.3s;
}
.navItem .navDropDown2 li {
  width: 100%;
  height: 0;
  cursor: pointer;
  transition: opacity 0.3s, height 0.3s;
}

.navItem .showNavDropDown2 {
  padding: 5px 0px;
  opacity: 1;
  visibility: visible;
}
.navItem .showNavDropDown2 li {
  height: 30px;
}

.hideBadge {
  display: none;
}
.shop .appear {
  animation: appear ease 0.5s;
}
@keyframes appear {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 576px) {
  .shop .navIcon {
    width: 19px;
  }
  .shop .cartIcon,
  .shop .favIcon {
    margin: 0 7px;
  }
  .logo h4 {
    font-size: 16px;
  }
  .logo h5 {
    font-size: 9px;
  }
}
