/* .productPage {
  border-bottom: 1px solid gray;
} */
.productPage {
  width: 100%;
  height: calc(100vh - 60px);
}
.showModal {
  opacity: 0;
  background: rgba(128, 128, 128, 0);
}
.showModalActive {
  opacity: 1;
  background: rgba(128, 128, 128, 0.24);
  transition: all ease 0.5s;
}
.hideModal {
  opacity: 1;
  background: rgba(128, 128, 128, 0.24);
}
.hideModalActive {
  opacity: 0;
  background: rgba(128, 128, 128, 0);
  transition: all ease 0.5s;
}
@media screen and (max-width: 576px) {
  .productPage {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
  }
}
