.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #faf9f7;
}
.layout .main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: #faf9f7;
  margin-top: 60px;
  padding: 0px 50px;
}
@media screen and (max-width: 576px) {
  .layout .main {
    height: auto;
    padding: 0px 20px;
  }
}
