.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #faf9f7;
}
.layout .main {
  position: relative;
  min-height: 100vh;
  background-color: #faf9f7;
  padding: 60px 50px 0px;
}
@media screen and (max-width: 576px) {
  .layout .main {
    height: auto;
    padding: 60px 20px 0px;
  }
}
