.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(122, 122, 122, 0.041);
  backdrop-filter: blur(2px);
}
.loading .shape {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #ffffff00;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  animation: round ease-in-out 1s infinite;
}
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
