.error {
  width: 100%;
  height: calc(100vh - 70px);
}
.error h1 {
  font-size: var(--font-huge);
}
.error h4 {
  font-size: var(--font-small);
}
.error button {
  font-size: var(--font-small);
  width: 200px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: rgb(3, 3, 3);
  color: white;
}
.error button:hover {
  background-color: rgb(65, 65, 65);
}

@media screen and (max-width: 576px) {
  .error button {
    width: 100%;
  }
}
