.overlayFilter {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.24);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 49px;
  z-index: 5;
}
.overlayFilter .filter {
  width: 400px;
  height: 100%;
  padding-bottom: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  overflow-y: auto;
  background-color: white;
  animation: appear ease 0.4s;
}
.filter .title {
  background-color: white;
  border-bottom: 1px solid #53535369;
  position: sticky;
  top: 0;
}
.filter .closeIcon {
  width: 35px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.filter .closeIcon:hover {
  background-color: #e4e4e4;
}

.overlayFilter .showFilter {
  animation: appear ease 0.3s;
}

.boxWraper {
  background-color: #f1f1ef9c;
  border-radius: 3px;
}
.boxWraper h4 {
  width: 100%;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
  user-select: none;
}
.boxWraper h4 .dropIcon {
  width: 15px;
}
.boxWraper .list {
  list-style: none;
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, height 0.3s;
  user-select: none;
  overflow: hidden;
}

.boxWraper .showList {
  visibility: visible;
  opacity: 1;
  height: 120px;
}
.filter .searchFilterButton {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color: rgb(255, 61, 61);
  color: white;
  font-size: 1.5rem;
  position: fixed;
  bottom: 49px;
  right: 0px;
}
.filter .searchFilterButton:hover {
  background-color: rgb(255, 38, 38);
  color: white;
}
@keyframes appear {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 576px) {
  .overlayFilter .filter {
    width: 100%;
  }
}
