.card {
  /* border: 1px solid #f1f1ef; */
  /* border: 1px solid rgb(229, 232, 235); */
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  transition: width ease 0.5s;
}
.card.largeView {
  min-width: 200px;
  width: 48%;
}
.card.smallView {
  min-width: 150px;
  width: 23%;
}
.card:hover {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
}
.card .pic {
  background-color: #f1f1ef;
  width: 100%;
  transition: all ease 0.2s;
}
.card .pic:hover {
  position: relative;
  transform: scale(1.2);
}
.pic img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.card .title {
  width: 100%;
  text-align: start;
  font-size: var(--font-small);
  font-weight: 500;
  color: var(--color-secondary);
  margin: 0;
}
.card .price {
  width: 100%;
  text-align: start;
  font-size: var(--font-small);
  color: black;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .card.largeView {
    min-width: 200px;
    width: 100%;
  }
  .card.smallView {
    min-width: 150px;
    width: 48%;
  }
}
