.dropdown {
  user-select: none;
  position: relative;
  margin: 0 0 0 5px;
}
.dropdown .dropButton {
  width: 50px;
  padding: 2px;
  cursor: pointer;
  position: relative;
}
.dropdown .dropButton h6 {
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.dropdown .dropBox {
  position: absolute;
  top: 125%;
  right: 0;
  list-style: none;
  width: 150px;
  padding: 5px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  transform: perspective(1200px) rotateX(-30deg);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 999;
}
.dropdown .dropBox li {
  width: 100%;
  margin: 3px 0;
  text-align: center;
  cursor: pointer;
}
.dropdown .dropBox li:hover {
  background-color: #f1f1ef;
}
.dropdown .dropButton:hover {
  color: #2b2b2bad;
}
.dropdown .dropIcon {
  width: 15px;
  z-index: 1;
  position: absolute;
  right: 0;
}

.dropdown .showDropdown {
  opacity: 1;
  visibility: visible;
  transform: perspective(1200px) rotateX(0deg);
}
