.sort h6 {
  font-size: var(--font-small);
}
.sort .itemNumber {
  color: var(--color-text-secondary);
}
.sort .viewIcons {
  border: 1px solid var(--color-border);
  width: 70px;
  border-radius: 10px;
}
.sort .viewIcon {
  width: 15px;
  cursor: pointer;
  color: #2b2b2bad;
}
.sort .viewIcon:hover {
  color: #000000ad;
}
.sort .filterIcon {
  width: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.sort .filterIcon:hover {
  color: #2b2b2bad;
}
.showModal {
  opacity: 0;
  background: rgba(128, 128, 128, 0);
}
.showModalActive {
  opacity: 1;
  background: rgba(128, 128, 128, 0.24);
  transition: all ease 0.5s;
}
.hideModal {
  opacity: 1;
  background: rgba(128, 128, 128, 0.24);
}
.hideModalActive {
  opacity: 0;
  background: rgba(128, 128, 128, 0);
  transition: all ease 0.5s;
}
