html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #faf9f7;
}
#__next {
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
nav {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: rgba(255, 255, 255, 0.822);
  backdrop-filter: blur(10px);
}
.content {
  width: 100%;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
